@import 'colors.abstract';

// .bg-green-subtle { background-color: $green-bright; }
// .bg-green-light { background-color: $green-light; }
// .bg-green { background-color: $green; }
// .bg-green-dark { background-color: $green-dark; }
// .bg-green-black { background-color: $green-black; }
