$color-black: #000 !default;
$color-white: #fff !default;

$color-green: #228b22 !default;
$color-green-subtle: mix($color-white, $color-green, 60%) !default;
$color-green-light: mix($color-white, $color-green, 30%) !default;
$color-green-dark: mix($color-black, $color-green, 30%) !default;
$color-green-black: mix($color-black, $color-green, 60%) !default;
