@import "color.abstract";

.bg-color-green-subtle { background-color: $color-green-subtle; }
.bg-color-green-light { background-color: $color-green-light; }
.bg-color-green { background-color: $color-green; }
.bg-color-green-dark { background-color: $color-green-dark; }
.bg-color-green-black { background-color: $color-green-black; }
